<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>wspCmsWeb</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>
  <servlet>
    <description>QueryDocuments</description>
    <display-name>QueryDocuments</display-name>
    <servlet-name>QueryDocuments</servlet-name>
    <servlet-class>org.bbaw.wsp.cms.servlets.QueryDocuments</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>QueryDocuments</servlet-name>
    <url-pattern>/query/QueryDocuments</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>QueryMdSystem</description>
    <display-name>QueryMdSystem</display-name>
    <servlet-name>QueryMdSystem</servlet-name>
    <servlet-class>org.bbaw.wsp.cms.servlets.QueryMdSystem</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>QueryMdSystem</servlet-name>
    <url-pattern>/query/QueryMdSystem</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>GetDocument</description>
    <display-name>GetDocument</display-name>
    <servlet-name>GetDocument</servlet-name>
    <servlet-class>org.bbaw.wsp.cms.servlets.GetDocument</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetDocument</servlet-name>
    <url-pattern>/doc/GetDocument</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>GetToken</description>
    <display-name>GetToken</display-name>
    <servlet-name>GetToken</servlet-name>
    <servlet-class>org.bbaw.wsp.cms.servlets.GetToken</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetToken</servlet-name>
    <url-pattern>/query/GetToken</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>GetDocInfo</description>
    <display-name>GetDocInfo</display-name>
    <servlet-name>GetDocInfo</servlet-name>
    <servlet-class>org.bbaw.wsp.cms.servlets.GetDocInfo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetDocInfo</servlet-name>
    <url-pattern>/query/GetDocInfo</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>About</description>
    <display-name>About</display-name>
    <servlet-name>About</servlet-name>
    <servlet-class>org.bbaw.wsp.cms.servlets.About</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>About</servlet-name>
    <url-pattern>/query/About</url-pattern>
  </servlet-mapping>
  <listener>
    <listener-class>org.bbaw.wsp.cms.servlets.CmsWebServletContextListener</listener-class>
  </listener>
  <servlet>
    <description>Suggest</description>
    <display-name>Suggest</display-name>
    <servlet-name>Suggest</servlet-name>
    <servlet-class>org.bbaw.wsp.cms.servlets.Suggest</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Suggest</servlet-name>
    <url-pattern>/query/Suggest</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MoreLikeThis</display-name>
    <servlet-name>MoreLikeThis</servlet-name>
    <servlet-class>org.bbaw.wsp.cms.servlets.MoreLikeThis</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MoreLikeThis</servlet-name>
    <url-pattern>/query/MoreLikeThis</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>ProjectManager</description>
    <display-name>ProjectManager</display-name>
    <servlet-name>ProjectManager</servlet-name>
    <servlet-class>org.bbaw.wsp.cms.servlets.ProjectManager</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProjectManager</servlet-name>
    <url-pattern>/update/ProjectManager</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>GetPerson</description>
    <display-name>GetPerson</display-name>
    <servlet-name>GetPerson</servlet-name>
    <servlet-class>org.bbaw.wsp.cms.servlets.GetPerson</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetPerson</servlet-name>
    <url-pattern>/query/GetPerson</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>GetDocumentJobs</description>
    <display-name>GetDocumentJobs</display-name>
    <servlet-name>GetDocumentJobs</servlet-name>
    <servlet-class>org.bbaw.wsp.cms.servlets.GetDocumentJobs</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetDocumentJobs</servlet-name>
    <url-pattern>/doc/GetDocumentJobs</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>RequestStatisticAnalyser</description>
    <display-name>RequestStatisticAnalyser</display-name>
    <servlet-name>RequestStatisticAnalyser</servlet-name>
    <servlet-class>org.bbaw.wsp.cms.servlets.RequestStatisticAnalyser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RequestStatisticAnalyser</servlet-name>
    <url-pattern>/query/RequestStatisticAnalyser</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>QueryDocument</description>
    <display-name>QueryDocument</display-name>
    <servlet-name>QueryDocument</servlet-name>
    <servlet-class>org.bbaw.wsp.cms.servlets.QueryDocument</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>QueryDocument</servlet-name>
    <url-pattern>/query/QueryDocument</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>XQueryDocument</description>
    <display-name>XQueryDocument</display-name>
    <servlet-name>XQueryDocument</servlet-name>
    <servlet-class>org.bbaw.wsp.cms.servlets.XQueryDocument</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>XQueryDocument</servlet-name>
    <url-pattern>/query/XQueryDocument</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>DocumentOperation</description>
    <display-name>DocumentOperation</display-name>
    <servlet-name>DocumentOperation</servlet-name>
    <servlet-class>org.bbaw.wsp.cms.servlets.DocumentOperation</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DocumentOperation</servlet-name>
    <url-pattern>/doc/DocumentOperation</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>GetPage</description>
    <display-name>GetPage</display-name>
    <servlet-name>GetPage</servlet-name>
    <servlet-class>org.bbaw.wsp.cms.servlets.GetPage</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetPage</servlet-name>
    <url-pattern>/query/GetPage</url-pattern>
  </servlet-mapping>


</web-app>